:host
  a, a:visited, a:hover
    text-decoration none
    color inherit

  h1
    font-size 1rem
    line-height 1rem

  nav
    display flex
    margin-bottom 2rem
    div
      margin-right 1em
      a
        text-decoration underline

  article
    border 1px solid silver
    border-radius 0.5rem
    padding 1rem
