h1 Post &#x25B8; Preview
nav
  div: a(href = "#") Summary
  div: a(href = "#") Media
  div: a(href = "#") Edit
  div Preview

article
  section
    vellum-markdown(data-start-level = "2")
      script(type = "text/markdown")= content
